<div class="container">
        <form class="Search-form">
                <div class="form">
                                <div class="form-group col-sm-5">
        
                                                <label for="username">User Name </label>
                                                <input type="text" required class="form-control" id="username" [(ngModel)]="username" name="username">
                                      
                                        </div>
                                        <button type="submit"  class="btn btn-secondary" (click)="findUser()">Search</button>
                </div>
            
            <div *ngIf="user">
                
                <div class="panel panel-default">
                   
                </div>
                <div class="panel-body">
                        <div class="row">
                                <div class="col-sm-6">
                                        <img src="{{user.avatar_url}}" class="img-circle img-responsive" alt="profile Image">
                                </div>
                                <div class="col-sm-5">
                                        <ul class="list-group">
                                                <li class="list-group-item" *ngIf="user.public_repos">Public Repository: {{user.public_repos}}</li>
                                                <li class="list-group-item" *ngIf="user.followers">Followers: {{user.followers}}</li>
                                                <li class="list-group-item" *ngIf="user.following">Following: {{user.following}}</li>
                                                <li class="list-group-item" *ngIf="user.created_at">Date created: {{user.created_at}}</li> 
                                                <!-- <li class="list-group-item" href="{{user.url}}"> View profile on Github</li>                                                                              -->
                                        </ul>
                                        <div class="panel panel-default">
                                                <div class="panel-heading">
                                                        <h3 class="panel-title">Repositories</h3>
                                                </div>
                                                <div class="panel-body" >
                                                        <div *ngFor="let r of arrRepo">
                                                                        <p >{{r.name}}</p>
                                                                        <p>{{r.description}}</p>
                                                        </div>
                                                        
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
            </div>
        </form>
        
</div>